table {
    border: 2px double black;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

td {
    border: 2px dashed blue;
    width: 32%;
    height: 32%;
    text-align: center;
    font-size: 160px;
}

p, .btn-wrap {
    text-align: center;
}